<!DOCTYPE html>
<html>
<head>
    <title>Obituaries</title>
</head>
<body>
    <h1>Obituaries</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Date of Death</th>
            <th>Content</th>
            <th>Author</th>
            <th>Submission Date</th>
        </tr>
        {% for obituary in obituaries %}
        <tr>
            <td>{{ obituary.name }}</td>
            <td>{{ obituary.date_of_birth }}</td>
            <td>{{ obituary.date_of_death }}</td>
            <td>{{ obituary.content }}</td>
            <td>{{ obituary.author }}</td>
            <td>{{ obituary.submission_date }}</td>
        </tr>
        {% endfor %}
    </table>
    {% for obituary in obituaries %}
    <div>
        <h2>{{ obituary.name }}</h2>
        <p>{{ obituary.content }}</p>
        <p>Born: {{ obituary.date_of_birth }}</p>
        <p>Died: {{ obituary.date_of_death }}</p>
    </div>
    {% endfor %}
</body>
</html>
